// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

sample {
  border: 4px solid black;
}
